/* convert this to a data url base 64:*/
	
/* Style the Voiceflow chatbot container */
.vfrc-chat {
  width: 100%; /* Chatbot width */
  max-width: 500px;
}

.c-iLVmPU .c-ealvbK {
  background-image: url("https://cdn.prod.website-files.com/6737eb13e460f410ac98cc6f/674e8bf501c531ba9dea7c08_photo-1575722290270-626b0208df99.avif");
  background-size: cover; /* Ensure the GIF covers the entire body */
  background-position: center; /* Center the GIF */
  display: flex;
  justify-content: center;
}

.c-fikloo {
  width: 100%; /* Chatbot width */
  max-width: 500px;
}

.c-cXYoYW {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.c-gSBsRr .c-eAEsei {
  opacity: 1;
  color: white;
}

.c-Mmsau .c-eAEsei {
  opacity: 1;
  color: white;
}

.c-bbTBUn {
  display: none;
}
.c-gSBsRr .c-kIbiaN {
  align-self: flex-start;
  margin: 4px 4px 0px 0px;
}

.c-PJLV-jJkrMz-mode-overlay {
  width: 100%;
}

.c-jUajGf {
  width: 300px;
  //height: 350px;
  max-width: 500px;
}

.c-JFdmb .c-jUajGf {
  height: 400px;
}

.c-PJLV-jJkrMz-mode-overlay {
  width: 100%;
  //height: 200px;
}

/* Color text and background chatbot answer */
.c-PJLV-jueArD-from-system {
  color: black;
  background-color: var(--colors-lightGrey);
  border-left: 5px solid #cc9600;
  border-radius: 5px 20px 0px 5px;
}

.c-PJLV-gJqBfM-from-user {
  color: white;
  background-color: #cc9600;
  white-space: break-spaces;
  border-right: 5px solid var(--colors-lightGrey);
  border-radius: 20px 5px 5px 0px;
}

/* Default button style */
.vfrc-button {
  background-color: white; /* Primary color */
  color: #cc9600;
  padding: 12px 24px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* Hover effect */
.vfrc-button:hover {
  background-color: #cc9600; /* Slightly darker shade of primary color */
  transform: scale(1.05); /* Slightly larger */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  color: white;
}

/* Default button style */
.c-jUajGf .c-jjMiVY {
  background-color: white; /* Primary color */
  color: #cc9600;
  padding: 12px 24px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* Hover effect */
.c-jUajGf .c-jjMiVY:hover {
  background-color: #cc9600; /* Slightly darker shade of primary color */
  transform: scale(1.05); /* Slightly larger */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  color: white;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.vfrc-launcher {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: heartbeat 1s infinite;
}
